@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "../framework/renduFramework.css";
@import "general.scss";

.categories {
	width : 100%;
}

.categorie {
	margin-left : 1%;
	margin-right : 1%;
	margin-bottom : 5px;
	width : 98%;
	height : 50px;
	border : 1px solid;
	@include border-radius(10px, 10px);
	@include box-sizing(border-box);
	background-image: linear-gradient(#000000, #131326);
	overflow : hidden;

	h3 {
		margin : 0;
		display : block;
		font-size : 1.4em;
		color : white;
		font-weight: bold;
		padding : 15px 0px 15px 10px;
		@include box-sizing(border-box);

		img {
			margin : -11px 10px 0px 0px;
			width : 40px;
			height : 40px;
			float : right;
		}
	}
}

.categorie:hover {
	cursor : pointer;
}

.categorie:active {
	background-image: linear-gradient(#000000, #3b3b4e);
}

.navRapide {
	display : none;
}

@media screen and (min-width : 420px) {
	.categorie {
		margin : 0% 0.5% 5px 0.5%;
		width : 49%;
		float : left;
	}

	.afficheMenu {
		display : none;
	}

	footer {
		clear : both;
		position : absolute;
		bottom : 0;
	}

	.menuBarre {
		display : flex;
		width : 100%;
	}

	nav {
		width : 95%;
		margin : auto;
	}

	.categories {
		margin-top : 30px;
	}
}

@media screen and (min-width : 800px) {

	.categories {
		width : 80%;
		margin : auto;
	}

	.menuBarre {
		width : 80%;
	}

	.categorie {
		height : 150px;
	}

	footer {
		position : relative;
	}

	.navRapide {
		display : block;
		margin : auto auto 10px 50px;
		
		li {
			margin : 0;

			a {
				font-size : 1em;
				color : white
			}
		}
		
	}
}
