@import "general.scss";
@import "../framework/renduFramework.css";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

.annonce, .vendeur {
	text-align : center;
	border : 1px solid;
	@include border-radius(10px);
	margin : 10px;
	padding-bottom : 5px;
}

.desc {
	width : 80%;
	margin-bottom : 5px;
}

.buttons {
	text-align : center;
	margin-bottom : 5px;
}

@media screen and (min-width : 420px) {
	.annonce, .vendeur, .buttons {
		width : 60%;
		margin : 10px auto 10px auto;
	}
}

@media screen and (min-width : 800px) {
	.annonce {
		float : left;
		width : 40%;
		margin : 10px 1% 10px 9%;
		@include box-sizing(border-box);
	}

	.vendeur {
		float : left;
		width : 40%;
		margin : 10px 9% 10px 1%;
		@include box-sizing(border-box);
	}

	.buttons {
		clear : both;
	}
}