@import "general.scss";
@import "../framework/renduFramework.css";
@import "compass/css3/box-sizing";

/* SMARTPHONE */
img {
	width: 60%;
	margin : auto;
	display : block;
	@include border-radius(8px);
	border : 1px solid;
}

.caracProduit {
	margin-top : 10px;
}

.btnContact {
	display : block;
	margin : 5px auto 3px auto;
}

.desc {
	font-weight : bold;
	font-size : 1.2em;
}

/* TABLETTE */

@media screen and (min-width: 420px) {

	img {
		float : left;
		width : 40%;
		margin : 0px 1% 5px 1%;
		max-width : 200px;
		max-height : 200px;
	}
}



/* ORDINATEUR */
@media screen and (min-width: 800px) {

	article {
		width : 70%;
		margin : auto;
	}
}