@import "compass/css3/border-radius";

header {
	h3 {
		margin : -5px 0 0 60px;
	}
}

.menuBarre {
	display : none;
}

.afficheMenu {
	width : 30px;
	height : 30px;
	color : white;
	margin : auto auto 20px auto;
	text-align : center;
	line-height : 30px;
	vertical-align : middle;
	border : solid 1px black;
	border-radius : 8px;
	background-image: linear-gradient(#000000, #131326);
	cursor : pointer;
}

.afficheMenu:active {
	background-image: linear-gradient(#000000, #3b3b4e);
}

#menu {
	display : none;
	background-image : linear-gradient(black, #131326);
	@include border-radius(8px);
	padding : 8px;
	box-shadow: 4px 4px 5px black;
	text-align : center;

	ul {
		text-align : left;
	}
}

@media screen and (min-width : 420px) {
	.afficheMenu {
		display : none;
	}

	.menuBarre {
		display : flex;
		width : 100%;
	}

	nav {
		width : 95%;
		margin : auto;
	}
}

@media screen and (min-width : 800px) {
	.menuBarre {
		width : 80%;
	}
}