@import "general.scss";
@import "../framework/renduFramework.css";
@import "compass/css3/border-radius";

img {
	display : block;
	margin : 10px auto 5px auto;
	width : 100px;
	height : 60px;
	@include border-radius(8px);
}

button {
	display : block;
	margin : 5px auto 3px auto;
}

article {
	width : 95%;
	max-width : 320px;
	margin : 10px auto 10px auto;
}

@media screen and (min-width : 420px) {
	article {
		float : left;
		max-width : 48%;
		margin : 10px 1% 10px 1%;
	}
}

@media screen and (min-width : 800px) {
	article {
		max-width : 30%;
		margin : 10px 1.66666% 10px 1.66666%;
	}

}