@import "general.scss";
@import "../framework/renduFramework.css";


.divRecherche {
	margin-left : 10px;
	margin-right : 10px;

	h3 {
		margin-left : 0;
	}

	.motCle {
		margin : auto;
		display : block;
		text-align : center;
	}

	.categ {
		label {
			display : block;
		}
		text-align : center;
	}

	.dep {
		label {
			display : block;
		}
		text-align : center;
	}

	.prix {
		text-align : center;
		margin-bottom : 30px;

		.prixInput {
			max-width : 50px;
			text-align : center;
		}
	}
}

.buttons {
	width : 80%;
	text-align : center;
	margin : auto;
}

@media screen and (min-width : 800px) {

	.divRecherche {
		h3 {
			text-align : center;
		}
	}
}