@import "general.scss";
@import "../framework/renduFramework.css";

article {
	button {
		display : block;
		margin : auto;
	}
}

@media screen and (min-width : 420px) {
	article {
		float : left;
		width : 48%;
		margin : 5px 1% 5px 1%;
	}
}

@media screen and (min-width : 800px) {
	article {
		float : left;
		width : 30%;
		margin : 5px 1.66666% 5px 1.66666%;
	}
}