@import "general.scss";
@import "../framework/renduFramework.css";

.annonce, .vendeur {
	div {
		text-align : center;
		margin-top : 15px;
		padding-bottom : 5px;
	}
}

.buttons {
	text-align : center;
	margin-bottom : 10px;
}

.desc {
	width : 70%;
}

@media screen and (min-width : 420px) {
	article {
		width : 60%;
		margin : 10px auto 10px auto;
	}
}

@media screen and (min-width : 800px) {
	article {
		float : left;
		width : 40%;
	}

	.annonce {
		margin : 10px 1% 10px 9%;
	}

	.vendeur {
		margin : 10px 9% 10px 1%;
	}

	.buttons {
		clear : both;
	}
}

