@import url(../framework/renduFramework.css);
/* line 4, ../sass/general.scss */
header h3 {
  margin: -5px 0 0 60px;
}

/* line 9, ../sass/general.scss */
.menuBarre {
  display: none;
}

/* line 13, ../sass/general.scss */
.afficheMenu {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto auto 20px auto;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  border: solid 1px black;
  border-radius: 8px;
  background-image: linear-gradient(#000000, #131326);
  cursor: pointer;
}

/* line 27, ../sass/general.scss */
.afficheMenu:active {
  background-image: linear-gradient(#000000, #3b3b4e);
}

/* line 31, ../sass/general.scss */
#menu {
  display: none;
  background-image: linear-gradient(#000000, #131326);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 4px 4px 5px black;
  text-align: center;
}
/* line 39, ../sass/general.scss */
#menu ul {
  text-align: left;
}

@media screen and (min-width: 420px) {
  /* line 45, ../sass/general.scss */
  .afficheMenu {
    display: none;
  }

  /* line 49, ../sass/general.scss */
  .menuBarre {
    display: flex;
    width: 100%;
  }

  /* line 54, ../sass/general.scss */
  nav {
    width: 95%;
    margin: auto;
  }
}
@media screen and (min-width: 800px) {
  /* line 61, ../sass/general.scss */
  .menuBarre {
    width: 80%;
  }
}
/* line 6, ../sass/accueil.scss */
.categories {
  width: 100%;
}

/* line 10, ../sass/accueil.scss */
.categorie {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5px;
  width: 98%;
  height: 50px;
  border: 1px solid;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(#000000, #131326);
  overflow: hidden;
}
/* line 22, ../sass/accueil.scss */
.categorie h3 {
  margin: 0;
  display: block;
  font-size: 1.4em;
  color: white;
  font-weight: bold;
  padding: 15px 0px 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 31, ../sass/accueil.scss */
.categorie h3 img {
  margin: -11px 10px 0px 0px;
  width: 40px;
  height: 40px;
  float: right;
}

/* line 40, ../sass/accueil.scss */
.categorie:hover {
  cursor: pointer;
}

/* line 44, ../sass/accueil.scss */
.categorie:active {
  background-image: linear-gradient(#000000, #3b3b4e);
}

/* line 48, ../sass/accueil.scss */
.navRapide {
  display: none;
}

@media screen and (min-width: 420px) {
  /* line 53, ../sass/accueil.scss */
  .categorie {
    margin: 0% 0.5% 5px 0.5%;
    width: 49%;
    float: left;
  }

  /* line 59, ../sass/accueil.scss */
  .afficheMenu {
    display: none;
  }

  /* line 63, ../sass/accueil.scss */
  footer {
    clear: both;
    position: absolute;
    bottom: 0;
  }

  /* line 69, ../sass/accueil.scss */
  .menuBarre {
    display: flex;
    width: 100%;
  }

  /* line 74, ../sass/accueil.scss */
  nav {
    width: 95%;
    margin: auto;
  }

  /* line 79, ../sass/accueil.scss */
  .categories {
    margin-top: 30px;
  }
}
@media screen and (min-width: 800px) {
  /* line 86, ../sass/accueil.scss */
  .categories {
    width: 80%;
    margin: auto;
  }

  /* line 91, ../sass/accueil.scss */
  .menuBarre {
    width: 80%;
  }

  /* line 95, ../sass/accueil.scss */
  .categorie {
    height: 150px;
  }

  /* line 99, ../sass/accueil.scss */
  footer {
    position: relative;
  }

  /* line 103, ../sass/accueil.scss */
  .navRapide {
    display: block;
    margin: auto auto 10px 50px;
  }
  /* line 107, ../sass/accueil.scss */
  .navRapide li {
    margin: 0;
  }
  /* line 110, ../sass/accueil.scss */
  .navRapide li a {
    font-size: 1em;
    color: white;
  }
}
