@import url(../framework/renduFramework.css);
/* line 4, ../sass/general.scss */
header h3 {
  margin: -5px 0 0 60px;
}

/* line 9, ../sass/general.scss */
.menuBarre {
  display: none;
}

/* line 13, ../sass/general.scss */
.afficheMenu {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto auto 20px auto;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  border: solid 1px black;
  border-radius: 8px;
  background-image: linear-gradient(#000000, #131326);
  cursor: pointer;
}

/* line 27, ../sass/general.scss */
.afficheMenu:active {
  background-image: linear-gradient(#000000, #3b3b4e);
}

/* line 31, ../sass/general.scss */
#menu {
  display: none;
  background-image: linear-gradient(#000000, #131326);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 4px 4px 5px black;
  text-align: center;
}
/* line 39, ../sass/general.scss */
#menu ul {
  text-align: left;
}

@media screen and (min-width: 420px) {
  /* line 45, ../sass/general.scss */
  .afficheMenu {
    display: none;
  }

  /* line 49, ../sass/general.scss */
  .menuBarre {
    display: flex;
    width: 100%;
  }

  /* line 54, ../sass/general.scss */
  nav {
    width: 95%;
    margin: auto;
  }
}
@media screen and (min-width: 800px) {
  /* line 61, ../sass/general.scss */
  .menuBarre {
    width: 80%;
  }
}
/* line 5, ../sass/recherche.scss */
.divRecherche {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 9, ../sass/recherche.scss */
.divRecherche h3 {
  margin-left: 0;
}
/* line 13, ../sass/recherche.scss */
.divRecherche .motCle {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 19, ../sass/recherche.scss */
.divRecherche .categ {
  text-align: center;
}
/* line 20, ../sass/recherche.scss */
.divRecherche .categ label {
  display: block;
}
/* line 26, ../sass/recherche.scss */
.divRecherche .dep {
  text-align: center;
}
/* line 27, ../sass/recherche.scss */
.divRecherche .dep label {
  display: block;
}
/* line 33, ../sass/recherche.scss */
.divRecherche .prix {
  text-align: center;
  margin-bottom: 30px;
}
/* line 37, ../sass/recherche.scss */
.divRecherche .prix .prixInput {
  max-width: 50px;
  text-align: center;
}

/* line 44, ../sass/recherche.scss */
.buttons {
  width: 80%;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 800px) {
  /* line 53, ../sass/recherche.scss */
  .divRecherche h3 {
    text-align: center;
  }
}
